{% extends "base.twig" %}
{% block title %}Secrets{% endblock %}
{% block content %}
    <main class="px-3">
        <table class="table table-hover table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">value</th>
                {#                <th scope="col">Code</th> #}
            </tr>
            </thead>
            <tbody>

            {% for donater in donaters %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ donater.email }}</td>
                    <td>{{ donater.donate_sum }} CTF</td>
                    {#                        <td>{{ secret.code }}</td> #}
                </tr>


            {% endfor %}
            <tr>
                <td colspan="2"></td>

                <td>{{ all_donate_sum }} CTF</td>
                {#                        <td>{{ secret.code }}</td> #}
            </tr>
            </tbody>
        </table>

    </main>
{% endblock %}